<a href="https://colab.research.google.com/github/DevpriyaSaini/ML-100/blob/main/Naive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("/content/play_tennis.csv")

In [5]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [6]:
# find p(sunny/yes)*p(Hot/yes)*p(weak/yes)*p(yes) and same for no

In [7]:
# find p(yes) and p(no)
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [8]:
py=9/14
pn=5/14

In [9]:
#outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [10]:
pon=0
prn=2/5
psn=3/5

poy=4/9
pry=3/9
psy=2/9

In [11]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [12]:
pcn=1/5
phn=2/5
pmn=2/5

pcy=3/9
phy=2/9
pmy=4/9

In [13]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [14]:
phighn=4/5
pnormaln=1/5

phighy=3/9
pnormaly=6/9

In [15]:
#wind
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [16]:
pstrongn=3/5
pweakn=2/5

pstrongy=3/9
pweaky=6/9

In [18]:
pyes=py*psy*phy*phighy*pweaky
print(pyes)

0.007054673721340388

In [20]:
pno=pn*psn*phighn*pweakn
print(pno)

0.06857142857142857